# Prepair Steps

1. Load data from data (csv file) to dataframe
2. Clean up all NA columns, all row NA, columns cannot be features such as Id, or having only one value

In [62]:
# Dataframe with panda
import pandas as pd
# IO path
from path import Path
# Count Distint in array or series
from collections import Counter
# Numpy
import numpy as np

In [63]:
# set the data path
data = Path('../Resources/LoanStats_2019Q1.csv')
# read data from the path (low_memory=False to avoid warning for dtype size)
# do not read data until 2nd row (skip 1 row)
df = pd.read_csv(data, low_memory=False,skiprows=1)

In [64]:
# find the shape
df.shape

(115677, 144)

In [65]:
# Find columns contain all NA or Empty value
df.count()

id                            2
member_id                     0
loan_amnt                115675
funded_amnt              115675
funded_amnt_inv          115675
                          ...
settlement_status             0
settlement_date               0
settlement_amount             0
settlement_percentage         0
settlement_term               0
Length: 144, dtype: int64

In [66]:
# Drop columns all NA
df = df.dropna(axis='columns',how='all')
df.columns

Index(['id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate',
       'installment', 'grade', 'sub_grade', 'emp_title',
       ...
       'sec_app_mort_acc', 'sec_app_open_acc', 'sec_app_revol_util',
       'sec_app_open_act_il', 'sec_app_num_rev_accts',
       'sec_app_chargeoff_within_12_mths',
       'sec_app_collections_12_mths_ex_med',
       'sec_app_mths_since_last_major_derog', 'hardship_flag',
       'debt_settlement_flag'],
      dtype='object', length=121)

In [67]:
# the dataframe shape 
df.shape

(115677, 121)

In [68]:
# we do not need id column
# id has only 2 rows not NA
df= df.drop(columns = ["id"])
# drop rows all NA
df = df.dropna(axis='rows',how='all')
# the dataframe shape 
df.shape

(115675, 120)

In [69]:
# the dataframe shape 
df.shape

(115675, 120)

In [73]:
# check if NA columns
df.count()

loan_amnt                              115675
funded_amnt                            115675
funded_amnt_inv                        115675
term                                   115675
int_rate                               115675
                                        ...
sec_app_chargeoff_within_12_mths        16681
sec_app_collections_12_mths_ex_med      16681
sec_app_mths_since_last_major_derog      4901
hardship_flag                          115675
debt_settlement_flag                   115675
Length: 120, dtype: int64

In [91]:
# find columns that have only one value
# They are not feature
columns_1_value = []
for column in df.columns:
    if (len(df[column].value_counts()) == 1):
        columns_1_value.append(column)
        print (f"Column name {column}:")
print(columns_1_value)

Column name pymnt_plan:
Column name recoveries:
Column name collection_recovery_fee:
Column name policy_code:
Column name acc_now_delinq:
Column name num_tl_120dpd_2m:
Column name num_tl_30dpd:
Column name tax_liens:
Column name hardship_flag:
Column name debt_settlement_flag:
['pymnt_plan', 'recoveries', 'collection_recovery_fee', 'policy_code', 'acc_now_delinq', 'num_tl_120dpd_2m', 'num_tl_30dpd', 'tax_liens', 'hardship_flag', 'debt_settlement_flag']

In [92]:
# Drop columns that have only one value
df= df.drop(columns = columns_1_value)
df.shape

(115675, 110)

In [103]:
obj_columns = list(df.dtypes[df.dtypes == np.object].index)
obj_columns

['term',
 'int_rate',
 'grade',
 'sub_grade',
 'emp_title',
 'emp_length',
 'home_ownership',
 'verification_status',
 'issue_d',
 'loan_status',
 'purpose',
 'title',
 'zip_code',
 'addr_state',
 'earliest_cr_line',
 'revol_util',
 'initial_list_status',
 'last_pymnt_d',
 'next_pymnt_d',
 'last_credit_pull_d',
 'application_type',
 'verification_status_joint',
 'sec_app_earliest_cr_line']

In [107]:
df['loan_status'].value_counts()

Current               94116
Issued                18835
Fully Paid             2157
In Grace Period         233
Late (16-30 days)       155
Late (31-120 days)      138
Charged Off              41
Name: loan_status, dtype: int64

In [104]:
num_columns = list(df.dtypes[df.dtypes != np.object].index)
num_columns

['loan_amnt',
 'funded_amnt',
 'funded_amnt_inv',
 'installment',
 'annual_inc',
 'dti',
 'delinq_2yrs',
 'inq_last_6mths',
 'mths_since_last_delinq',
 'mths_since_last_record',
 'open_acc',
 'pub_rec',
 'revol_bal',
 'total_acc',
 'out_prncp',
 'out_prncp_inv',
 'total_pymnt',
 'total_pymnt_inv',
 'total_rec_prncp',
 'total_rec_int',
 'total_rec_late_fee',
 'last_pymnt_amnt',
 'collections_12_mths_ex_med',
 'mths_since_last_major_derog',
 'annual_inc_joint',
 'dti_joint',
 'tot_coll_amt',
 'tot_cur_bal',
 'open_acc_6m',
 'open_act_il',
 'open_il_12m',
 'open_il_24m',
 'mths_since_rcnt_il',
 'total_bal_il',
 'il_util',
 'open_rv_12m',
 'open_rv_24m',
 'max_bal_bc',
 'all_util',
 'total_rev_hi_lim',
 'inq_fi',
 'total_cu_tl',
 'inq_last_12m',
 'acc_open_past_24mths',
 'avg_cur_bal',
 'bc_open_to_buy',
 'bc_util',
 'chargeoff_within_12_mths',
 'delinq_amnt',
 'mo_sin_old_il_acct',
 'mo_sin_old_rev_tl_op',
 'mo_sin_rcnt_rev_tl_op',
 'mo_sin_rcnt_tl',
 'mort_acc',
 'mths_since_recent_bc',
 'mths_since_recent_bc_dlq',
 'mths_since_recent_inq',
 'mths_since_recent_revol_delinq',
 'num_accts_ever_120_pd',
 'num_actv_bc_tl',
 'num_actv_rev_tl',
 'num_bc_sats',
 'num_bc_tl',
 'num_il_tl',
 'num_op_rev_tl',
 'num_rev_accts',
 'num_rev_tl_bal_gt_0',
 'num_sats',
 'num_tl_90g_dpd_24m',
 'num_tl_op_past_12m',
 'pct_tl_nvr_dlq',
 'percent_bc_gt_75',
 'pub_rec_bankruptcies',
 'tot_hi_cred_lim',
 'total_bal_ex_mort',
 'total_bc_limit',
 'total_il_high_credit_limit',
 'revol_bal_joint',
 'sec_app_inq_last_6mths',
 'sec_app_mort_acc',
 'sec_app_open_acc',
 'sec_app_revol_util',
 'sec_app_open_act_il',
 'sec_app_num_rev_accts',
 'sec_app_chargeoff_within_12_mths',
 'sec_app_collections_12_mths_ex_med',
 'sec_app_mths_since_last_major_derog']